<app-splash-screen></app-splash-screen>
<!-- 
<div class="home">
    <h1>Kevin Samayoa</h1>
    <h1>Carnet: 200915348</h1>
    <h1>Juan Paxtor</h1>
    <h1>Carnet: 201700470</h1>
    <div></div>
    <h2>OLC 2</h2>
</div>
-->

<!--  bloque prueba  -->

<div class="inicio">
    <h1 class="logo-header">
        <span class="logo">FOR</span>
        <span class="logo">DEVS</span>
    </h1>
</div>

<header>
    <nav class="links">
        <h1>FOR DEVS.</h1>
    </nav>
</header>

<img src="assets/iconos/banner.jpg" alt="hero">
