<app-splash-screen></app-splash-screen>

<div class="contenido">
    <div class="con-datos">
        <div class="kevin"> 
            <h3>Kevin Martin Samayoa Urizar</h3>
            <h3>200915348</h3>               
        </div>
    </div>

    <div class="con-datos">
        <div class="compi">
            <h3>Aux: Diego Andres Obin</h3>
            <h3>OLC2</h3>
        </div>
    </div>

    <div class="con-datos">
        <div class="juan">
            <h3>Juan Carlos Paxtor Fong</h3>
            <h3>201700470</h3>
        </div>
    </div>
</div>

<!--  bloque prueba  
<div class="inicio">
    <h1 class="logo-header">
        <span class="logo">FOR</span>
        <span class="logo">DEVS</span>
    </h1>
</div>

<header>
    <nav class="links">
        <h1>FOR DEVS.</h1>
    </nav>
</header>
-->
<img src="assets/iconos/banner.jpg" alt="hero" width="100%">
